sphinx
docutils
furo
matplotlib
myst-nb
myst-parser
jupytext
sphinx-autobuild
sphinx-tabs
sphinx-panels
sphinx-copybutton
sphinx-togglebutton
sphinx-autodoc-typehints
sphinxcontrib-mermaid
sphinxcontrib-plantuml
sphinxcontrib-bibtex
sphinx-comments
cairosvg