furo
sphinx>=1.6
docutils<0.17
matplotlib
myst-nb
myst-parser
jupytext
sphinx-autobuild
sphinx-tabs
sphinx-panels
sphinx-copybutton
sphinx-togglebutton
sphinx-autodoc-typehints
sphinxcontrib-mermaid
sphinxcontrib-plantuml
sphinxcontrib-bibtex
sphinx-comments
cairosvg