sphinx>=1.6
sphinx_rtd_theme==0.5.2
docutils<0.17
insipid-sphinx-theme
matplotlib
myst-nb
myst-parser
jupytext
sphinx-autobuild
sphinx-tabs
sphinx-panels
sphinx-copybutton
sphinx-togglebutton
sphinx-autodoc-typehints
sphinxcontrib-mermaid
sphinxcontrib-plantuml
sphinxcontrib-bibtex
sphinx-comments
cairosvg