/* This will override the builtin default.css */

/* .wy-nav-content {
    max-width: 100%;
} */

/* You can't hide RTD badge by modifing `custom.css`.
 * So, the `display: none` option doesn't make any sense. */
/* .rst-versions.rst-badge {
    display: none;
} */

.rst-versions.rst-badge.shift-up .rst-current-version .fa-book {
    line-height: 30px;
}

img {
    margin-bottom: 1em;
}


/* Timeline CSS */
div.timeline div.card {
    border: 0px;
}

div.timeline div.left {
    text-align: right;
    border-right: 1px solid black;
}

div.timeline div.entry::after {
    width: 1em;
    height: 1em;
    background: white;
    border-radius: 50%;
    content: "";
    top: 1em;
    display: block;
    position: absolute;
    border: 1px black solid;
    z-index: 999;
}

div.timeline div.entry.left::after {
    right: -.5em;
}

div.timeline div.entry.right::after {
    left: -.5em;
}

main.bd-content #main-content div.section ul p, main.bd-content #main-content div.section ol p {
    text-align: left;
}

code {
    background-color: rgba(175,184,193,0.2);
    color: #24292f;
    padding: .2em .4em;
    border-radius: 6px;
}
