/* This will override the builtin default.css */

/* .wy-nav-content {
    max-width: 100%;
} */

.rst-versions.rst-badge.shift-up .rst-current-version .fa-book {
    line-height: 30px;
}

img {
    margin-bottom: 1em;
}
